.dorpdown-root {
  position: absolute;
  top:0;
  left: 0;
  outline:none;
  background: #ffffff;
}
.dorpdown-menu{
  margin: 0;
  padding: 0;
  animation: hideIndex 0.48s;
  border-radius: 0 0 4px 4px;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  background: #3749c0; 
}
.dorpdown-menu-item{
  margin: 0;
  padding: 0 10px;
  list-style: none;
  cursor: pointer;
  height:30px;
  line-height: 30px;
  text-align: center;
}
.dorpdown-menu-item:hover{
    background: #1890ff;
}
